{% extends 'base.html.twig' %}

{% block title %} Todos {% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Created Date</th>
                        <th>Is Completed</th>
                        <th>Actions</th>
                    </tr>
                    {% for todo in todos %}
                        <tr>
                            <td class="todoId">{{ todo.id }}</td>
                            <td>{{ todo.name }}</td>
                            <td>{{ todo.createdAt|date('Y-m-d') }}</td>
                            <td class="isCompleted"
                                id="isCompletedValue-{{ todo.id }}"> {{ todo.isCompleted ? 'true' : 'false' }}</td>
                            <td>
                                <button type="button" id="true-{{ todo.id }}" class="btn btn-success true" value="1">
                                    Completed
                                </button>
                                <button type="button" id="false-{{ todo.id }}" class="btn btn-danger false" value="0">
                                    Uncompleted
                                </button>
                                <button type="button" id="delete" class="btn btn-secondary delete">Delete</button>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: "{{ path('show_todo_data') }}",
                type: "GET",
                success: function (data) {
                    applyStyles(data);
                }
            });

            function applyStyles(todos) {
                todos.forEach(function (todo) {

                    var selectorTrue = `#true-${todo.id}`;

                    var selectorFalse = `#false-${todo.id}`;

                    var selectorBackground = `#isCompletedValue-${todo.id}`;

                    if (todo.isCompleted) {
                        $(selectorTrue).css('display', 'none');
                        $(selectorFalse).css('display', 'inline');
                        $(selectorBackground).css({"background-color": "#198754"});
                    } else {
                        $(selectorTrue).css('display', 'inline');
                        $(selectorFalse).css('display', 'none');
                        $(selectorBackground).css({"background-color": "#dc3545"});
                    }
                });
            }

            $(".true").on("click", function () {
                var id = $(this).closest("tr").find("td:eq(0)").text();

                var val = $(".true").val();

                var data = {
                    'id': id,
                    'isCompleted': val
                };

                $.ajax({
                    url: "{{ path('is_completed_action') }}",
                    type: "POST",
                    data: data,
                    cache: false,
                    success: function () {
                        window.location.reload();
                    }
                })
            });

            $(".false").on("click", function () {
                var id = $(this).closest("tr").find("td:eq(0)").text();

                var val = $(".false").val();

                var data = {
                    'id': id,
                    'isCompleted': val
                };

                $.ajax({
                    url: "{{ path('is_completed_action') }}",
                    type: "POST",
                    data: data,
                    cache: false,
                    success: function () {
                        window.location.reload();
                    }
                })
            });


            $('.delete').on("click", function () {

                var id = $(this).closest("tr").find("td:eq(0)").text();

                $.ajax({
                    url: "/todo-delete/" + id,
                    type: "DELETE",
                    success: function () {
                        window.location.reload();
                    }
                })
            });
        });
    </script>
{% endblock %}